<!doctype html>
<html lang='en'>
    <head>
        <script type="text/javascript" src="./../static/restful.js"></script>
        <meta charset='utf-8'>
        <title>Home</title>
    </head>
    <body>
        <header>
            <h1><a href='/'>Go to Home</a></h1>
        </header>
        <nav>
            <a href="/">Home</a>
        </nav>
        <main>
            <div id="yeardd"></div>
            <br>
            <div id="makedd"></div>
            <br>
            <div id="modeldd"></div>
            <br>
            <div id="trimdd"></div>
            <br>
            
        </main>
    </body>
</html>