<!doctype html>
<html lang='en'>
    <head>
        <script type="text/javascript" src="./../static/restful.js"></script>
        <meta charset='utf-8'>
        <title>Home</title>
    </head>
    <body>
        <header>
            <h1><a href='/'>Go to Home</a></h1>
        </header>
        <nav>
            <a href="/">Home</a>
        </nav>
        <main>
            <input type="button" onclick="fetchValue();">
            
            <br>
            <br>
            <div id="yeardd">
            </div>
   
            <br>
            <div id="makedd"> 
                <select name="makedd" onchange="fetchModels(this.value)"> 
                    <option value="">Make</option>
                    <option value="18">Honda</option>
                    <option value="Ford">Ford</option>               
                </select>
            </div>
        </main>
    </body>
</html>