<!doctype html>
<html lang='en'>
    <head>
        <!-- Required Meta Tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!-- JQuery and Javascript import -->
        <script type="text/javascript" src="./../static/restful.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <meta charset='utf-8'>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Window closing script -->
        <script language="javascript" type="text/javascript">
            function closeWindow() {
            window.open('','_parent','');
            window.close();
        }
        </script>
        <title>Home</title>

    </head>
    <body style="background-color: #000000; background-image: url('https://www.carlogos.org/logo/Chevrolet-logo-2013-2560x1440.png'); background-position: bottom; max-height: 100%; background-size: 100% 100%">


        <main>
            <div class="jumbotron" style="height: 450px; font-family: Avenir; 
            background-image: url('https://chat.google.com/api/get_attachment_url?url_type=DOWNLOAD_URL&attachment_token=AEMFMXFEHv1IVlyMHAG5W0Ztg5RJ%2B6parpIieBKAtn4RTP7uPBXCQ89Q7mVtYKppzl7XvF8kqOKmkbe2dRcUFJNasFuJCiZFhj7t6nKYbLyqvDeyD%2BSU%2BnQJfDMKiBCdnrTajqxMqEoYzSbd4EfpXY2G40qUlpRiBLy6jg040sTryNos0u2h%2BmRsjy0LlG52j00bYPf2%2FnA%2B2WowoKrHEMFxBQTlwShIwqTpjs9lPQUHDvu5Mq6DJixkdKGRZ2XYxfknZmbGE9YRFT13NmiKkV9cGyc1z9Qdku4zAEoCIcPJYCFecdfRPWvmFhn6yzO8nPdF4lKLI%2BQk62YK3g%3D%3D&content_type=image%2Fjpeg&auto=true'); 
            max-width: 100%; 
            max-height: 100%; 
            background-size:100% 100%; 
            background-repeat: none; 
            border:3px solid #D1AD57; border-radius:20px; text-align: center; align-content: center">
                <div class="row-full mb-4">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6" style="font-family: Avenir; font-weight: bold">
                        <h1 style="font-family: Avenir; color: #000000; border: 3px solid #D1AD57; border-radius: 20px"> Selection Menu </h1>

                        <div class="card mb-2" id="yeardd"; style="background-color: #9FA8A7"> </div> 
                        <div class="card mb-2" id="makedd"; style="background-color: #9FA8A7"> </div>
                        <div class="card mb-2" id="modeldd"; style="background-color: #9FA8A7"> </div>
                        <div class="card mb-2" id="trimdd"; style="background-color: #9FA8A7"> </div>
                        <div class="card mb-2" id="buttondiv" aria-haspopup="true" aria-expanded="true" style="background-color: #D1AD57"></div>  

                    </div>
                </div>
            </div>

            <!-- Image hosting from local Repo  
                <img src="/images/chevy_logo.jpg"> </img> 
            -->

            <!-- Image Hosting from the web 
            <img src="https://i.pinimg.com/originals/59/09/e5/5909e5df89cb7ca105539c97421a2437.png"> </img>
            -->

        </main>
    </body>
    <script type="text/javascript"> </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"> </script>
        
</html>
   
